html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}
.első{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(földhatter.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
 
}

p{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: 'Century Gothic',sans-serif;
  color: white;
  font-size: 20px;
  padding: 25px;

}

h1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Century Gothic',sans-serif;
  color: white;
  padding: 25px;
}
